Repository ricoardiya/soba-up, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, docs, ci

homescreen
  packages/mobile/App.tsx
  packages/mobile/components/logo.png
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/HomeScreen/squiggly.png
Labels: mobile

Use react 18.0.0
  packages/web/package.json
  yarn.lock
Labels: web

Use react 18.0.0
  packages/web/components/FirstPartScreen/FirstPartScreen.tsx
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.tsx
  packages/web/components/FirstPartScreen/web/WebFirstScreen.tsx
  packages/web/components/FourthPartScreen/FourthPartScreen.tsx
  packages/web/components/HeaderBar/HeaderBar.tsx
  packages/web/components/SecondPartScreen/SecondPartScreen.tsx
  packages/web/components/SecondPartScreen/mobile/MobileSecondScreen.tsx
  packages/web/components/SecondPartScreen/web/WebSecondScreen.tsx
  packages/web/components/ThirdPartScreen/ThirdPartScreen.tsx
  packages/web/components/ThirdPartScreen/mobile/MobileThirdScreen.tsx
  packages/web/components/ThirdPartScreen/web/WebThirdScreen.tsx
  packages/web/pages/index.tsx
  packages/web/styles/globals.css
  packages/web/typings.d.ts
Labels: web

Fix build error
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.tsx
  packages/web/components/FirstPartScreen/web/WebFirstScreen.tsx
  packages/web/components/HeaderBar/HeaderBar.tsx
  packages/web/components/SecondPartScreen/mobile/MobileSecondScreen.tsx
  packages/web/components/SecondPartScreen/web/WebSecondScreen.tsx
  packages/web/components/ThirdPartScreen/mobile/MobileThirdScreen.tsx
  packages/web/components/ThirdPartScreen/web/WebThirdScreen.tsx
Labels: web

feat(web): landing page (#22)
  packages/web/components/FirstPartScreen/FirstPartScreen.tsx
  packages/web/components/FirstPartScreen/collage1.png
  packages/web/components/FirstPartScreen/header.png
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.module.css
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.tsx
  packages/web/components/FirstPartScreen/web/WebFirstScreen.module.css
  packages/web/components/FirstPartScreen/web/WebFirstScreen.tsx
  packages/web/components/FirstPartScreen/zz1.png
  packages/web/components/FourthPartScreen/FourthPartScreen.module.css
  packages/web/components/FourthPartScreen/FourthPartScreen.tsx
  packages/web/components/HeaderBar/HeaderBar.module.css
  packages/web/components/HeaderBar/HeaderBar.tsx
  packages/web/components/HeaderBar/logo.png
  packages/web/components/SecondPartScreen/SecondPartScreen.tsx
  packages/web/components/SecondPartScreen/collage2.png
  packages/web/components/SecondPartScreen/mobile/MobileSecondScreen.module.css
  packages/web/components/SecondPartScreen/mobile/MobileSecondScreen.tsx
  packages/web/components/SecondPartScreen/web/WebSecondScreen.module.css
  packages/web/components/SecondPartScreen/web/WebSecondScreen.tsx
  packages/web/components/ThirdPartScreen/ThirdPartScreen.tsx
  packages/web/components/ThirdPartScreen/mobile/MobileThirdScreen.module.css
  packages/web/components/ThirdPartScreen/mobile/MobileThirdScreen.tsx
  packages/web/components/ThirdPartScreen/mockup1.png
  packages/web/components/ThirdPartScreen/mockup2.png
  packages/web/components/ThirdPartScreen/mockup3.png
  packages/web/components/ThirdPartScreen/web/WebThirdScreen.module.css
  packages/web/components/ThirdPartScreen/web/WebThirdScreen.tsx
  packages/web/components/pattern.png
  packages/web/package.json
  packages/web/pages/index.tsx
  packages/web/public/favicon.ico
  packages/web/styles/Home.module.css
  packages/web/styles/globals.css
  packages/web/typings.d.ts
  yarn.lock
Labels: web

Update readme
  README.md
Labels: docs

Add yarn lint
  .github/workflows/web-ci.yaml
Labels: ci

chore(docs): Update contributors (#23)
  README.md
Labels: docs

feat(ci): Add yarn lint (#24)
  .github/workflows/web-ci.yaml
Labels: ci

Fix github action link
  README.md
Labels: docs

Sign up screen
  packages/mobile/App.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
Labels: mobile

Fix github action link
  README.md
Labels: docs

modify db, add APIs
  packages/web/pages/api/user/[id].ts
  packages/web/pages/api/user/[id]/emergency-contact.ts
  packages/web/pages/api/user/[id]/index.ts
  packages/web/pages/api/user/[id]/notify.ts
  packages/web/pages/api/user/emergency-contact.ts
  packages/web/pages/api/user/login.ts
  packages/web/pages/api/user/signup.ts
  packages/web/prisma/migrations/20220827235534_soba_up_db/migration.sql
  packages/web/prisma/migrations/20220828024734_soba_up_db/migration.sql
  packages/web/prisma/schema.prisma
Labels: web

fix(docs): Fix github action link (#25)
  README.md
Labels: docs

emergency contact screen, login screen, splash screen, welcome screen
  packages/mobile/App.tsx
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/SplashScreen/SplashScreen.style.ts
  packages/mobile/screens/SplashScreen/SplashScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
Labels: mobile

fix notify.ts
  packages/web/pages/api/user/[id]/notify.ts
Labels: web

disclaimer screen
  packages/mobile/App.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
Labels: mobile

Kelvin api (#26)
  packages/web/pages/api/user/[id].ts
  packages/web/pages/api/user/[id]/emergency-contact.ts
  packages/web/pages/api/user/[id]/index.ts
  packages/web/pages/api/user/[id]/notify.ts
  packages/web/pages/api/user/emergency-contact.ts
  packages/web/pages/api/user/login.ts
  packages/web/pages/api/user/signup.ts
  packages/web/prisma/migrations/20220827235534_soba_up_db/migration.sql
  packages/web/prisma/migrations/20220828024734_soba_up_db/migration.sql
  packages/web/prisma/schema.prisma
Labels: web

result screen
  packages/mobile/App.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
Labels: mobile

Put the game in sequence
  packages/mobile/App.tsx
  packages/mobile/config/timings.ts
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/gameReducers.ts
  packages/mobile/store/reducers/index.ts
Labels: mobile

Analysis Screen
  packages/mobile/App.tsx
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
Labels: mobile

next step screen (last)
  packages/mobile/App.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
Labels: mobile

feat(mobile): Combine game (#27)
  packages/mobile/App.tsx
  packages/mobile/config/timings.ts
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/gameReducers.ts
  packages/mobile/store/reducers/index.ts
Labels: mobile

combine pages
  packages/mobile/App.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/store/actions/appActions.ts
  packages/mobile/store/reducers/appReducers.ts
  packages/mobile/store/reducers/index.ts
Labels: mobile

Elsa/mobile UI (#28)
  packages/mobile/App.tsx
  packages/mobile/components/logo.png
  packages/mobile/config/timings.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/HomeScreen/squiggly.png
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/SplashScreen/SplashScreen.style.ts
  packages/mobile/screens/SplashScreen/SplashScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
  packages/mobile/store/actions/appActions.ts
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/appReducers.ts
  packages/mobile/store/reducers/gameReducers.ts
  packages/mobile/store/reducers/index.ts
Labels: mobile

fix if else
  packages/mobile/App.tsx
Labels: mobile

connecting pages
  packages/mobile/App.tsx
  packages/mobile/screens/Screen.tsx
Labels: mobile

connecting pages (#30)
  packages/mobile/App.tsx
  packages/mobile/screens/Screen.tsx
Labels: mobile

combining pages draft
  packages/mobile/App.tsx
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
  packages/mobile/store/reducers/appReducers.ts
Labels: mobile

connected login to disclaimer to games, fixed 3 game screens, disclaimer screens, result screen, login screen, removed done button from game 3 for game logic simplicity
  packages/mobile/components/Done/index.tsx
  packages/mobile/components/TimeBar/index.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/GameOne/Grid/index.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/Grid/index.style.ts
  packages/mobile/screens/GameTwo/Grid/index.tsx
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/gameReducers.ts
Labels: mobile

Add mobile ci
  .github/workflows/mobile-ci.yaml
  packages/mobile/package.json
Labels: mobile, ci

Add mobile ci
  .github/workflows/mobile-ci.yaml
  packages/mobile/package.json
Labels: mobile, ci

Rename workflow
  .github/workflows/mobile-ci.yaml
Labels: ci

Use node 16
  .github/workflows/mobile-ci.yaml
Labels: ci

feat(ci): Add mobile ci (#32)
  .github/workflows/mobile-ci.yaml
  packages/mobile/package.json
Labels: mobile, ci

Visit app button link to production mobile
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.tsx
  packages/web/components/FirstPartScreen/web/WebFirstScreen.tsx
  packages/web/components/FourthPartScreen/FourthPartScreen.tsx
Labels: web

Add demo notify endpoint
  packages/web/pages/api/demo-notify.ts
Labels: web

feat(mobile): connecting page (#31)
  packages/mobile/App.tsx
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
  packages/mobile/store/reducers/appReducers.ts
Labels: mobile

feat(web): Visit app button link to production mobile (#33)
  packages/web/components/FirstPartScreen/mobile/MobileFirstScreen.tsx
  packages/web/components/FirstPartScreen/web/WebFirstScreen.tsx
  packages/web/components/FourthPartScreen/FourthPartScreen.tsx
Labels: web

feat(web): Add demo notify endpoint (#34)
  packages/web/pages/api/demo-notify.ts
Labels: web

.github/labeler.yml:

web:
  - packages/web/**/*

mobile:
  - packages/mobile/**/*

docs:
  - '*.md'

ci:
  - .github/**/*
