Repository ricoardiya/soba-up, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, docs, ci

.github/labeler.yml:

web:
  - packages/web/**/*

mobile:
  - packages/mobile/**/*

docs:
  - '*.md'

ci:
  - .github/**/*

Elsa/mobile UI (#29)
  packages/mobile/App.tsx
Labels: mobile

fix little things
  packages/mobile/App.tsx
  packages/mobile/screens/Screen.tsx
Labels: mobile

connected login to disclaimer to games, fixed 3 game screens, disclai… (#35)
  packages/mobile/App.tsx
  packages/mobile/components/Done/index.tsx
  packages/mobile/components/TimeBar/index.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/GameOne/Grid/index.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/Grid/index.style.ts
  packages/mobile/screens/GameTwo/Grid/index.tsx
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/gameReducers.ts
Labels: mobile

delete duplicates and changed flex:1 to percentages
  packages/mobile/App.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/Screen.tsx
Labels: mobile

home screen made responsive
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
Labels: mobile

responsive login screen
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
Labels: mobile

changed percentage
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
Labels: mobile

responsive analysis screen
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
Labels: mobile

centering things on analysis screen
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
Labels: mobile

responsive next step screen
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
Labels: mobile

adjusting centering on next step screen
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
Labels: mobile

changed the way game is dispatched
  packages/mobile/screens/Games/index.tsx
Labels: mobile

another round of centering things
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
Labels: mobile

centering things
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
Labels: mobile

changes
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
Labels: mobile

home screen made responsive (#36)
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
Labels: mobile

attempt to enable light mode
  packages/mobile/app.json
Labels: mobile

Elsa/responsive screens / light mode (#37)
  packages/mobile/app.json
Labels: mobile

ui fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
Labels: mobile

ui fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
Labels: mobile

navigation fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
Labels: mobile

minor margin fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
Labels: mobile

navigation and ui fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
Labels: mobile

UI Fix
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
Labels: mobile

rebooting deployment
  packages/mobile/screens/Screen.tsx
Labels: mobile

fixed error
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
Labels: mobile

Elsa/responsive screens (#38)
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/Screen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
Labels: mobile

change bg to white
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
Labels: mobile

Elsa/responsive screens (#39)
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
Labels: mobile

minor ui fix
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
Labels: mobile

Elsa/responsive screens (#40)
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
Labels: mobile

finish game logic and scoring, add play again functionality
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/store/reducers/gameThreeReducers.ts
Labels: mobile

integreate twillio with server API
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/web/pages/api/demo-notify.ts
Labels: web, mobile

remove debugging
  packages/web/pages/api/demo-notify.ts
Labels: web

add rico phone num
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
Labels: mobile

change wa to sms
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
Labels: mobile

add vercel
  packages/web/vercel.json
Labels: web

remove method not allowed notify
  packages/web/pages/api/demo-notify.ts
Labels: web

finish game logic and scoring, add play again functionality (#41)
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/store/reducers/gameThreeReducers.ts
  packages/web/pages/api/demo-notify.ts
  packages/web/vercel.json
Labels: web, mobile

Handle preflight
  packages/web/pages/api/demo-notify.ts
Labels: web
