Repository ricoardiya/soba-up, pull requests merged in 2022-09, with the labels that each got.

#30 connecting pages
  packages/mobile/App.tsx
  packages/mobile/screens/Screen.tsx
Labels: mobile

#32 feat(ci): Add mobile ci
  .github/workflows/mobile-ci.yaml
  packages/mobile/package.json
Labels: ci, mobile

#31 feat(mobile): connecting page
  packages/mobile/App.tsx
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
  packages/mobile/store/reducers/appReducers.ts
Labels: mobile

#34 feat(web): Add demo notify endpoint
  packages/web/pages/api/demo-notify.ts
Labels: web

#29 Elsa/mobile UI
  packages/mobile/App.tsx
Labels: mobile

#35 connected login to disclaimer to games, fixed 3 game screens, disclai…
  packages/mobile/App.tsx
  packages/mobile/components/Done/index.tsx
  packages/mobile/components/TimeBar/index.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.tsx
  packages/mobile/screens/GameOne/Grid/index.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameOne/index.tsx
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/GameTwo/Grid/index.style.ts
  packages/mobile/screens/GameTwo/Grid/index.tsx
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/GameTwo/index.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/screens/Screen.tsx
  packages/mobile/store/actions/gameActions.ts
  packages/mobile/store/reducers/gameReducers.ts
Labels: mobile

#36 home screen made responsive
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/Games/index.tsx
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/ResultScreen/ResultScreen.style.ts
Labels: mobile

#38 Elsa/responsive screens
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
  packages/mobile/screens/NextStepScreen/NextStepScreen.style.ts
  packages/mobile/screens/Screen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.tsx
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.style.ts
  packages/mobile/screens/WelcomeScreen/WelcomeScreen.tsx
Labels: mobile

#39 Elsa/responsive screens
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.style.ts
  packages/mobile/screens/DisclaimerScreen/DisclaimerScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.style.ts
  packages/mobile/screens/EmergencyContactScreen/EmergencyContactScreen.tsx
  packages/mobile/screens/GameOne/index.style.ts
  packages/mobile/screens/GameThree/index.style.ts
  packages/mobile/screens/GameTwo/index.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.style.ts
  packages/mobile/screens/HomeScreen/HomeScreen.tsx
  packages/mobile/screens/SignUpScreen.tsx/SignUpScreen.style.ts
Labels: mobile

#41 finish game logic and scoring, add play again functionality
  packages/mobile/screens/AnalysisScreen/AnalysisScreen.tsx
  packages/mobile/screens/GameThree/index.tsx
  packages/mobile/screens/NextStepScreen/NextStepScreen.tsx
  packages/mobile/screens/ResultScreen/ResultScreen.tsx
  packages/mobile/store/reducers/gameThreeReducers.ts
  packages/web/pages/api/demo-notify.ts
  packages/web/vercel.json
Labels: mobile, web

#42 fix(web-api): Handle preflight
  packages/web/pages/api/demo-notify.ts
Labels: web

#43 feat(web): cors
  packages/web/package.json
  packages/web/pages/api/demo-notify.ts
  yarn.lock
Labels: web

#44 ui background fix
  packages/mobile/screens/LoginScreen/LoginScreen.style.ts
Labels: mobile
